/* START: Task 1 Styles */
table {
  position: absolute;
  height:250px;
  width:350px;
  top:10%;
  left:40%;
  border-collapse: collapse;
  }
  td, th {
    
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: white;
  }
  th {
    background-color: gray;
    color: white;
  }
  .special {
    background-color: green;
  }
  .selected-yellow {
    background-color: yellow;
  }
  .selected-blue {
    background-color: blue;
  }
/* END: Task 1 Styles */

/* START: Task 2 Styles */
input {
  position: absolute;
  width:20%;
  height:20px;
  left:40%;
  top:70%;
  border: 1px solid black;
  padding: 5px;
}
input.invalid {
  border-color: red;
}
.notification {
  color: green;
  font-weight: bold;
  display: none;
}
#send-button{
  position: absolute;
  width:70px;
  height:30px;
  top:70%;
  right:30%;
  border: 1px solid black;
  padding: 5px;
}
.notification{
  position: absolute;
  left:35%;
  top:80%;
  
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */

/* END: Task 3 Styles */
